## CEIA - Análisis de datos

### Clase 8: Automatización de análisis de datos. EDA automático.

### 1. Biblioteca ydata-profiling

In [75]:
import pandas as pd
import seaborn as sns
from ydata_profiling import ProfileReport
import webbrowser
import os

In [76]:
# Cargar el dataset de Titanic
df = sns.load_dataset("titanic")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [77]:
# Creamos el reporte
profile_1 = ProfileReport(df, title="Pandas Profiling Report", explorative=False)

In [78]:
# Exportar el repote a un archivo HTML o Json
profile_1.to_file("../recursos/titanic_report_1.html")

profile_1.to_file("../recursos/titanic_report_1.json") # Esta opción se usa para customizar el reporte

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Render JSON:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [79]:
# Pequena función para abrir el reporte en el navegador
def open_html_report(report_path):
    file_path = os.path.abspath(report_path)

    # Abrir el reporte en el browser
    webbrowser.open(f"file:///{file_path}")

    return

In [80]:
# Si lo queremos mostrar directamente en la notebook, correr la siguiente línea:
# profile.to_notebook_iframe()

In [84]:
# Abrir el reporte 1 en el browser
open_html_report("../recursos/titanic_report_1.html")

In [82]:
# Exploración más exhaustiva con el flag "explorative"
profile_2 = ProfileReport(df, title="Pandas Profiling Report EDA", explorative=True)
profile_2.to_file("../recursos/titanic_report_2.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [85]:
# Abrir el reporte 2 en el browser
open_html_report("../recursos/titanic_report_2.html")