## CEIA - Análisis de datos

### Clase 8: Herramientas low-code para el procesamiento de datos

In [4]:
import pandas as pd
import seaborn as sns
import numpy as np
import webbrowser
import os
from sklearn.model_selection import train_test_split

In [5]:
# Cargar el dataset de Titanic
df = sns.load_dataset("titanic")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

### Bibliotecas de Auto-ML

### Pycaret

In [58]:
# Por ejemplo en preparación para un modelo de clasificación
from pycaret.classification import *

In [59]:
import numpy as np
np.seterr(all='ignore')

{'divide': 'ignore', 'over': 'ignore', 'under': 'ignore', 'invalid': 'ignore'}

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [61]:
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [62]:
# Convertir los objetos a string
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].astype(str)

# Convertir pclass a string 
df['pclass'] = df['pclass'].astype(str)

# float64 para las numéricas 
df[['age', 'fare']] = df[['age', 'fare']].astype('float64')

# Ensure numerical columns are float64
df[['age', 'fare']] = df[['age', 'fare']].astype('float64')

In [63]:
# Setup de Pycaret
s = setup(
    data=df,
    target='survived',
    train_size=0.8,  # Proporción de datos de entrenamiento
    session_id=123,
    preprocess=True,
    normalize=True,
    normalize_method='minmax', # 'zscore' (StandardScaler) o'minmax'
    remove_outliers=True,
    outliers_threshold=0.01,
    ordinal_features={'pclass': ['3', '2', '1']},
    categorical_features=['sex', 'embark_town'],
    ignore_features=['parch', 'alive', 'alone', 'who', 'adult_male', 'embarked', 'class', 'deck'],
    categorical_imputation='mode',
    numeric_imputation='mean',
    fix_imbalance=True,
    fix_imbalance_method='smote',  # 'random', 'smote', 'adasyn', etc.
    verbose=True,  # True para mostrar información detallada
)

# Cargamos los datos preprocesados
# dataset_transf = get_config('dataset_transformed')

X_train_transformed = s.get_config('X_train_transformed')
y_train_transformed = s.get_config('y_train_transformed')

X_test_transformed = s.get_config('X_test_transformed')
y_test_transformed = s.get_config('y_test_transformed')


print(f"Datos preprocesados: \n\n {X_train_transformed.head()}")
print(f"Dimensiones del dataset preprocesado: {X_train_transformed.shape}")
print(f"Nulos: {X_train_transformed.isnull().sum().sum()}")

Datos preprocesados:

      pclass  sex       age  sibsp      fare  embark_town_Southampton  \
222     0.0  1.0  0.635587  0.000  0.015713                      1.0
610     0.0  0.0  0.484795  0.125  0.061045                      1.0
249     0.5  1.0  0.673285  0.125  0.050749                      1.0
814     0.0  1.0  0.377984  0.000  0.015713                      1.0
118     1.0  1.0  0.296306  0.000  0.483128                      0.0

     embark_town_Cherbourg  embark_town_Queenstown  embark_town_nan
222                    0.0                     0.0              0.0
610                    0.0                     0.0              0.0
249                    0.0                     0.0              0.0
814                    0.0                     0.0              0.0
118                    1.0                     0.0              0.0
Dimensiones del dataset preprocesado: (870, 9)
Nulos: 0

In [64]:
X_train_transformed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 870 entries, 222 to 1056
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   pclass                   870 non-null    float64
 1   sex                      870 non-null    float64
 2   age                      870 non-null    float64
 3   sibsp                    870 non-null    float64
 4   fare                     870 non-null    float64
 5   embark_town_Southampton  870 non-null    float64
 6   embark_town_Cherbourg    870 non-null    float64
 7   embark_town_Queenstown   870 non-null    float64
 8   embark_town_nan          870 non-null    float64
dtypes: float64(9)
memory usage: 68.0 KB

#### ¿Cómo seguiría el proceso? (Tomado de la documentación de Pycaret): https://github.com/pycaret/pycaret?tab=readme-ov-file#1-functional-api)

In [65]:
# Classification Functional API Example 

# model training and selection
best = compare_models() # Compara varios modelos usando cross-validation y parámetros default. Se queda con el mejor.

# evaluate trained model
print(f"Métricas del mejor modelo (sin ajuste) con el dataset de test: \n")
evaluate_model(best) # Evalúa el mejor modelo con el dataset de test


# predict on hold-out/test set
pred_holdout = predict_model(best) # Predecir con datos de test o aplicar transformaciones a datos no vistos y predecir
# predict on new data
# predictions = predict_model(best, data = new_data)

print(f"Predicción con dataset de test: \n {pred_holdout}")

Métricas del mejor modelo (sin ajuste) con el dataset de test:

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

Predicción con dataset de test:
     pclass     sex   age  sibsp        fare  embark_town  survived  \
561      3    male  40.0      0    7.895800  Southampton         0
641      1  female  24.0      0   69.300003    Cherbourg         1
400      3    male  39.0      0    7.925000  Southampton         1
498      1  female  25.0      1  151.550003  Southampton         0
875      3  female  15.0      0    7.225000    Cherbourg         1
..     ...     ...   ...    ...         ...          ...       ...
339      1    male  45.0      0   35.500000  Southampton         0
841      2    male  16.0      0   10.500000  Southampton         0
442      3    male  25.0      1    7.775000  Southampton         0
815      1    male   NaN      0    0.000000  Southampton         0
53       2  female  29.0      1   26.000000  Southampton         1

     prediction_label  prediction_score
561                 0            0.9366
641                 1            0.9798
400                 0            0.9077
498                 1            0.9650
875                 1            0.8517
..                ...               ...
339                 1            0.5095
841                 0            0.8822
442                 0            0.8602
815                 0            0.8960
53                  1            0.8940

[179 rows x 9 columns]

In [66]:
# Ajuste de hiperparámetros
modelo_ajustado = tune_model(best)

# Guardar el modelo
save_model(modelo_ajustado, 'best_ajustado')

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['age', 'sibsp', 'fare'],
                                     transformer=SimpleImputer(add_indicator=False,
                                                               copy=True,
                                                               fill_value=None,
                                                               keep_empty_features=False,
                                                               missing_values=nan,
                                                               strategy='mean'))),
                 ('categorical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['sex', 'embark_town'],...
                                             criterion='friedman_mse', init=None,
                                             learning_rate=0.0001,
                                             loss='log_loss', max_depth=9,
                                             max_features='sqrt',
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0005,
                                             min_samples_leaf=3,
                                             min_samples_split=7,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators=180,
                                             n_iter_no_change=None,
                                             random_state=123, subsample=0.75,
                                             tol=0.0001, validation_fraction=0.1,
                                             verbose=0, warm_start=False))],
          verbose=False),
 'best_ajustado.pkl')

In [67]:
# Predicción con el modelo ajustado
pred_mod_ajustado = predict_model(modelo_ajustado)

### H2O

In [ ]:
import h2o
from h2o.automl import H2OAutoML

In [2]:
# Inicializar el cluster H2O
h2o.init(port=54322, strict_version_check=False) # strict_version_check=False to avoid minor version warnings
print("Cluster H2O inicializado")

Checking whether there is an H2O instance running at http://localhost:54322..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.27" 2025-04-15 LTS; OpenJDK Runtime Environment Zulu11.80+21-CA (build 11.0.27+6-LTS); OpenJDK 64-Bit Server VM Zulu11.80+21-CA (build 11.0.27+6-LTS, mixed mode)
  Starting server from /Users/ari/opt/miniconda3/envs/add-aml/lib/python3.11/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /var/folders/9g/1rg076zs24z9q_glz2_80vsw0000gn/T/tmph9q8ltwr
  JVM stdout: /var/folders/9g/1rg076zs24z9q_glz2_80vsw0000gn/T/tmph9q8ltwr/h2o_ari_started_from_python.out
  JVM stderr: /var/folders/9g/1rg076zs24z9q_glz2_80vsw0000gn/T/tmph9q8ltwr/h2o_ari_started_from_python.err
  Server is running at http://127.0.0.1:54322
Connecting to H2O server at http://127.0.0.1:54322 ... successful.
Warning: Your H2O cluster version is (7 months and 15 days) old.  There may be a newer version available.
Please download and install the latest version from: https://h2o-release.s3.amazonaws.com/h2o/latest_stable.html

--------------------------  -----------------------------
H2O_cluster_uptime:         01 secs
H2O_cluster_timezone:       America/Chicago
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.46.0.6
H2O_cluster_version_age:    7 months and 15 days
H2O_cluster_name:           H2O_from_python_ari_y9z2ff
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    4 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54322
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.11.13 final
--------------------------  -----------------------------

Cluster H2O inicializado

In [6]:
# Convert to H2OFrame
titanic_h2o = h2o.H2OFrame(df)
print("\nIris H2OFrame head:")
print(titanic_h2o.head())

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

Iris H2OFrame head:
  survived    pclass  sex       age    sibsp    parch     fare  embarked    class    who    adult_male    deck    embark_town    alive    alone
         0         3  male       22        1        0   7.25    S           Third    man    True          nan     Southampton    no       False
         1         1  female     38        1        0  71.2833  C           First    woman  False         C       Cherbourg      yes      False
         1         3  female     26        0        0   7.925   S           Third    woman  False         nan     Southampton    yes      True
         1         1  female     35        1        0  53.1     S           First    woman  False         C       Southampton    yes      False
         0         3  male       35        0        0   8.05    S           Third    man    True          nan     Southampton    no       True
         0         3  male      nan        0        0   8.4583  Q           Third    man    True          nan     Queenstown     no       True
         0         1  male       54        0        0  51.8625  S           First    man    True          E       Southampton    no       True
         0         3  male        2        3        1  21.075   S           Third    child  False         nan     Southampton    no       False
         1         3  female     27        0        2  11.1333  S           Third    woman  False         nan     Southampton    yes      False
         1         2  female     14        1        0  30.0708  C           Second   child  False         nan     Cherbourg      yes      False
[10 rows x 15 columns]

In [10]:
# Definir nombres de las columnas y de la variable objetivo
x_cols = titanic_h2o.columns
y_col = 'survived'
x_cols.remove(y_col) # Remove the target column from features

print(f"Nombres de las columnas: {x_cols}")
print(f"Variable objetivo: {y_col}")

Nombres de las columnas: ['pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town', 'alive', 'alone']
Variable objetivo: survived

In [14]:
# Asfactor convierte la variable objetivo a tipo categórico
titanic_h2o[y_col] = titanic_h2o[y_col].asfactor()

# Hacer el split
train_h2o, test_h2o = titanic_h2o.split_frame(ratios=[0.8], seed=123)

print(f"\nNro filas en train: {train_h2o.nrows}, Nro de filas en test: {test_h2o.nrows}")

Nro filas en train: 701, Nro de filas en test: 190

In [15]:
print("Running H2O AutoML for Titanic dataset...")

aml = H2OAutoML(max_models=10, seed=123, verbosity='info', balance_classes=True)
aml.train(x=x_cols, y=y_col, training_frame=train_h2o)

print("\nEntrenamiento con H2O AutoML completado")

print("H2O AutoML Leaderboard:")
leaderboard = aml.leaderboard
print(leaderboard)

# Buscar el mejor modelo
best_model_h2o = aml.leader
print(f"\nBest model from H2O AutoML: {best_model_h2o.model_id}")

# Hacer predicciones con el mejor modelo
print(f"Making predictions on the test set using the best H2O model ({best_model_h2o.model_id})...")
predictions_h2o = best_model_h2o.predict(test_h2o)

print("\nPredictions head (H2OFrame):")
print(predictions_h2o.head())

# Evaluar el mejor modelo con el dataset de test
performance_h2o = best_model_h2o.model_performance(test_h2o)
print(f"\nPerformance del mejor modelo de H2O con los datos de test: {performance_h2o.accuracy()}")

Running H2O AutoML for Titanic dataset...
AutoML progress: |
18:35:29.814: Project: AutoML_1_20250617_183529
18:35:29.815: 5-fold cross-validation will be used.
18:35:29.815: Setting stopping tolerance adaptively based on the training frame: 0.0377694787300249
18:35:29.815: Build control seed: 123
18:35:29.816: training frame: Frame key: AutoML_1_20250617_183529_training_py_12_sid_8e4a    cols: 15    rows: 701  chunks: 1    size: 17750  checksum: -2372427332210276372
18:35:29.816: validation frame: NULL
18:35:29.816: leaderboard frame: NULL
18:35:29.816: blending frame: NULL
18:35:29.816: response column: survived
18:35:29.816: fold column: null
18:35:29.816: weights column: null
18:35:29.823: AutoML: XGBoost is not available; skipping it.
18:35:29.825: Loading execution steps: [{XGBoost : [def_2 (1g, 10w), def_1 (2g, 10w), def_3 (3g, 10w), grid_1 (4g, 90w), lr_search (7g, 30w)]}, {GLM : [def_1 (1g, 10w)]}, {DRF : [def_1 (2g, 10w), XRT (3g, 10w)]}, {GBM : [def_5 (1g, 10w), def_2 (2g, 10w), def_3 (2g, 10w), def_4 (2g, 10w), def_1 (3g, 10w), grid_1 (4g, 60w), lr_annealing (7g, 10w)]}, {DeepLearning : [def_1 (3g, 10w), grid_1 (4g, 30w), grid_2 (5g, 30w), grid_3 (5g, 30w)]}, {completion : [resume_best_grids (6g, 60w)]}, {StackedEnsemble : [monotonic (9g, 10w), best_of_family_xglm (10g, 10w), all_xglm (10g, 10w)]}]
18:35:29.836: Disabling Algo: XGBoost as requested by the user.
18:35:29.837: AutoML job created: 2025.06.17 18:35:29.777
18:35:29.837: AutoML build started: 2025.06.17 18:35:29.837
18:35:29.845: AutoML: starting GLM_1_AutoML_1_20250617_183529 model training


18:35:30.453: New leader: GLM_1_AutoML_1_20250617_183529, auc: 1.0
18:35:30.460: AutoML: starting GBM_1_AutoML_1_20250617_183529 model training

███
18:35:34.791: AutoML: starting DRF_1_AutoML_1_20250617_183529 model training

█
18:35:35.232: New leader: DRF_1_AutoML_1_20250617_183529, auc: 1.0
18:35:35.232: AutoML: starting GBM_2_AutoML_1_20250617_183529 model training

███
18:35:38.568: AutoML: starting GBM_3_AutoML_1_20250617_183529 model training

█
18:35:41.476: AutoML: starting GBM_4_AutoML_1_20250617_183529 model training

███
18:35:44.260: AutoML: starting XRT_1_AutoML_1_20250617_183529 model training
18:35:44.495: AutoML: starting GBM_5_AutoML_1_20250617_183529 model training

█
18:35:46.915: AutoML: starting DeepLearning_1_AutoML_1_20250617_183529 model training

██
18:35:47.666: AutoML: starting GBM_grid_1_AutoML_1_20250617_183529 hyperparameter search

█
18:35:48.662: No base models, due to timeouts or the exclude_algos option. Skipping StackedEnsemble 'monotonic'.
18:35:48.668: AutoML: starting StackedEnsemble_BestOfFamily_1_AutoML_1_20250617_183529 model training
18:35:49.485: AutoML: starting StackedEnsemble_AllModels_1_AutoML_1_20250617_183529 model training

████████████████████████████████████████████████| (done) 100%

18:35:50.301: Actual modeling steps: [{GLM : [def_1 (1g, 10w)]}, {GBM : [def_5 (1g, 10w)]}, {DRF : [def_1 (2g, 10w)]}, {GBM : [def_2 (2g, 10w), def_3 (2g, 10w), def_4 (2g, 10w)]}, {DRF : [XRT (3g, 10w)]}, {GBM : [def_1 (3g, 10w)]}, {DeepLearning : [def_1 (3g, 10w)]}, {GBM : [grid_1 (4g, 60w)]}, {StackedEnsemble : [best_of_family_xglm (10g, 10w), all_xglm (10g, 10w)]}]
18:35:50.302: AutoML build stopped: 2025.06.17 18:35:50.301
18:35:50.302: AutoML build done: built 10 models
18:35:50.302: AutoML duration: 20.464 sec


Entrenamiento con H2O AutoML completado
H2O AutoML Leaderboard:
model_id                                       auc      logloss    aucpr    mean_per_class_error         rmse          mse
DRF_1_AutoML_1_20250617_183529                   1  0.0401018          1                       0  0.0725211    0.00525931
DeepLearning_1_AutoML_1_20250617_183529          1  2.00848e-05        1                       0  7.56549e-05  5.72366e-09
GBM_grid_1_AutoML_1_20250617_183529_model_1      1  0                  1                       0  0            0
XRT_1_AutoML_1_20250617_183529                   1  0.116432           1                       0  0.146038     0.0213271
GBM_1_AutoML_1_20250617_183529                   1  8.39398e-18        1                       0  9.8072e-17   9.61811e-33
GBM_3_AutoML_1_20250617_183529                   1  7.19032e-17        1                       0  4.34766e-16  1.89021e-31
GBM_4_AutoML_1_20250617_183529                   1  1.35887e-16        1                       0  8.57026e-16  7.34493e-31
GBM_5_AutoML_1_20250617_183529                   1  3.40194e-16        1                       0  2.22684e-15  4.95883e-30
GBM_2_AutoML_1_20250617_183529                   1  8.33063e-17        1                       0  6.02429e-16  3.62921e-31
GLM_1_AutoML_1_20250617_183529                   1  0.0004497          1                       0  0.000623912  3.89266e-07
[12 rows x 7 columns]


Best model from H2O AutoML: DRF_1_AutoML_1_20250617_183529
Making predictions on the test set using the best H2O model (DRF_1_AutoML_1_20250617_183529)...
drf prediction progress: |███████████████████████████████████████████████████████| (done) 100%

Predictions head (H2OFrame):
  predict         p0          p1
        1  0.0691912  0.930809
        1  0          1
        0  0.895684   0.104316
        0  0.930943   0.0690567
        0  0.995711   0.00428861
        1  0.0410594  0.958941
        1  0          1
        0  0.942311   0.0576888
        1  0          1
        0  1          0
[10 rows x 3 columns]


Performance del mejor modelo de H2O con los datos de test: [[0.6708462505217135, 1.0]]

In [16]:
# Apagar el cluster (es best practice)
print("Shutting down H2O cluster...")
h2o.cluster().shutdown(prompt=True)
print("H2O cluster shut down.")

Shutting down H2O cluster...
H2O session _sid_8e4a closed.
H2O cluster shut down.