## Análisis de datos - Clase 2

### Ejercicio

Realizar un EDA de la columna 'fare' (precio del pasaje) del dataset Titanic

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats as st

In [2]:
# Cargamos el dataset de Titanic
titanic_df = sns.load_dataset('titanic')
titanic_df = titanic_df.drop(columns=['deck']) # eliminamos la columna 'deck'
df = titanic_df.dropna() # Eliminamos los datos nulos
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no,True

#### Distribución de la variable - Histogramas

In [ ]:
fig, ax = plt.subplots(figsize=(4, 4))

ax.hist(...)

plt.show()

#### QQPlot

In [ ]:
fig, ax = plt.subplots(figsize=(4, 4))

# st.probplot()
plt.show()

#### Estadísticas varias

In [ ]:
media = ...
var = ...
std_dev = ...
mediana = ...
skewness = ...
curtosis = ...

print(f"Media: {media:.02f}")
print(f"Varianza: {media:.02f}")
print(f"Desvío estándar: {media:.02f}")

print(f"Mediana: {mediana:.02f}")
print(f"Skewness: {skewness:.02f}")
print(f"Curtosis: {curtosis:.02f}")

#### Quantiles

In [ ]:
Q1 = ...
Q2 = ...
Q3 = ...
IQR = ...
print("Q1 (25%):", Q1)
print("Q2 (50%):", Q2)
print("Q3 (75%):", Q3)

print("Rango intercuartil (IQR):", IQR)

In [ ]:
fig, ax = plt.subplots(figsize=(5, 5))
sns.boxplot(...)
plt.show()

### Analizamos un subconjunto de los datos

Limitamos el dataset solo a los pasajeros con valor de pasaje <=150 y volvemos a analizar.

In [ ]:
df_lim = df[df['fare']<=150]
df_lim.head()

In [ ]:
fig, ax = plt.subplots(figsize=(4, 4))

ax.hist(...)
plt.show()

In [ ]:
media = ...
mediana = ...
skewness = ...
curtosis = ...

print(f"Media: {media:.02f}")
print(f"Mediana: {mediana:.02f}")
print(f"Skewness: {skewness:.02f}")
print(f"Curtosis: {curtosis:.02f}")

#### Visualizamos la variable con Boxplots

Cruzamos el precio del pasaje (fare) con otras variables

In [ ]:
fig, ax = plt.subplots(1,2, figsize=(12, 4))

# ejemplo:
sns.boxplot(data=df_lim, y='fare', hue='pclass', ax[0]) # el precio según la clase (atributo 'pclass')
sns.boxplot(..., ax[1])

plt.show()